h1,
h2,
h3,
h4 {
    font-family: $font;
}

a {
    color: $gris-oscuro;
    text-decoration: none;
}

.bg-light {
    background-color: transparent !important;
}

#navbarSuperior {
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    .nav-link {
        display: block;
        padding: 0rem 1rem;
    }
    .fa-phone {
        color: $rojo;
        padding: 10px;
    }
    .fa-search {
        background-color: $gris-fondo;
        padding: 10px;
    }
    .cerrar {
        background-color: $rojo;
        color: #fff;
        padding: 12px 10px;
    }
}

nav {
    .logo-bci {
        width: 50%;
        padding: 0;
        margin: 0;
    }
    .img-user {
        width: 25%;
        float: right;
        padding: 0;
    }
    .datos-user {
        font-size: 12px;
        color: $azul;
        padding: 0;
    }
    .datos-name {
        margin: 0;
        font-size: 16px;
    }
}

#navbarInferior {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.nav-pills {
    .nav-link:hover {
        color: $verde-oscuro;
        border-bottom: 3px solid $verde-oscuro;
    }
}


.nav-vertical {
    li {
        list-style: none;
    }
    li :hover {
        color: $azul;
    }
    .vertical {
        border-bottom: 1px solid $gris-fondo;
    }
    .mi-cuenta {
        padding-left: 16px;
        text-decoration: none;
    }
    #primero {
        padding-right: 16px;
    }

    .fa-chevron-right {
        color: $azul;
    }
}

.derecha {
    background-color: $gris-fondo;
    width: 100%;
    h4 {
        color: $azul;
        padding: 20px;
    }
}