h1,
h2,
h3,
h4 {
    font-family: $font;
}

a {
    color: $gris-oscuro;
    text-decoration: none;
}

.bg-light {
    background-color: transparent !important;
}

.btn-secondary {
    color: #BFBFBF;
    background-color: transparent;
}

.navbar-brand {
    margin: 0;
}

#navbarSuperior {
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    .nav-link {
        display: block;
        padding: 0rem 1rem;
    }
    .fa-phone {
        color: $rojo;
        padding: 10px;
    }
    .fa-search {
        background-color: $gris-fondo;
        padding: 10px;
    }
    .cerrar {
        background-color: $rojo;
        color: #fff;
        padding: 12px 10px;
    }
}

nav {
    .logo-bci {
        width: 50%;
        padding: 0;
        margin: 0;
    }
    .img-user {
        width: 20%;
        float: right;
        padding: 0;
    }
    .datos-user {
        font-size: 12px;
        color: $azul;
        padding: 0;
    }
    .datos-user-mini {
        padding: 0 16px;
        color: $azul;
    }
    .datos-name {
        margin: 0;
        font-size: 16px;
    }
}

#navbarInferior {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.nav-pills {
    .nav-link:hover {
        color: $verde-oscuro;
        border-bottom: 3px solid $verde-oscuro;
    }
}


.nav-vertical {
    li {
        list-style: none;
    }
    li :hover {
        color: $azul;
    }
    .vertical {
        border-bottom: 1px solid $gris-fondo;
    }
    .mi-cuenta {
        padding-left: 16px;
        text-decoration: none;
    }
    #primero {
        padding-right: 16px;
    }

    .fa-chevron-right {
        color: $azul;
    }
}

.derecha {
    background-color: $gris-fondo;
    width: 100%;
    h4,
    {
        padding: 2% 0;
        color: $azul;
    }
    .titulo-mobile {
        font-size: 20px;
        background-color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #BFBFBF;
    }
    .d-block {
        padding: 5% 20%;
        margin: 0;
    }
    .fa-angle-left {
        color: $verde-oscuro;
    }
    .first {
        background-color: #fff;
        padding: 2%;
        p {
            font-size: 14px;
            color: #333;
        }
        h5 {
            color: $verde;
        }
        .rut {
            font-size: 12px;
        }

        .fecha {
            color: #BFBFBF;
            padding-bottom: 0;
        }
        .cuenta {
            text-align: center;
            padding-top: 5%;
            border-left: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            .saldo {
                font-size: 40px;
                color: $verde-oscuro;
            }
            .dato {
                margin: 0;
            }
            .numero-verde {

                color: $verde-oscuro;
            }

            .cuenta-text {
                margin: 1%;
            }
        }
        .detalle {
            font-size: 12px;
            .precios {
                color: $verde-oscuro;
            }
        }
    }
    .accciones-cuenta {
        background-color: #fff;
        margin-top: 2%;
        padding: 2%;
        color: $azul-barra;
        .personalizar {
            color: $rojo;
        }
        a {
            color: $azul-barra;
        }
    }

    .movimientos {
        background-color: #fff;
        margin-top: 2%;
        margin-left: -1.5%;
        margin-right: -1.5%;
        padding: 2%;
        .fa-undo {
            color: $azul;
        }
        h5 {
            color: $azul;
        }
        .linea {
            padding: 2%;
            border-bottom: 1px solid #BFBFBF;
        }
        .parrafo {
            padding: 2%;
            a {
                color: $azul;
                text-decoration: none;
            }
        }
        .barra {
            background-color: $azul-barra;
            color: #fff;
            padding: 1%;
        }
        .barra-cuenta1 {
            padding: 2%;
        }
        .barra-cuenta2 {
            background-color: $gris-barra;
            padding: 2%;
        }
        .monto-rojo {
            color: $rojo;
        }
        .monto-verde {
            color: $verde;
        }
    }
}

.fondo-trans {
    background-color: #fff;
    padding: 2%;
    .text-trans {
        color: $azul;
    }
    .origen-linea {
        padding-top: 2%;
    }
    .saldo {
        background-color: #ececec;
        padding: 4%;
        margin: 0;
        .saldo-color {
            color: $verde-oscuro;
            font-size: 24px;
        }
    }
    .destinatario-linea {
        padding-top: 2%;
        .agregar {
            color: $azul;
        }
    }
    .monto-linea {
        padding-top: 3%;
        .form-check {
            padding-left: 23%;
        }
        .espacio-texto {
            padding-left: 18%;
        }
        .contador {
            font-size: 12px;
        }
    }
    .btns-linea {
        margin-bottom: 2%;
        .btn-trans1 {
            background-color: $verde-oscuro;
            color: #fff;
            padding: 2%;
            text-decoration: none;
            padding: 10% 40%;
        }
        .btn-trans {
            color: $verde-oscuro;
            padding: 2%;
            text-decoration: none;
            padding: 10% 40%;
        }
    }
}

.barra-mobile {
    .btn-activo {
        color: $azul;
        border-top: 1px solid $azul;
        padding: 10%;
        text-decoration: none;
    }
    .banco {
        font-size: 10px;
    }
}