@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
/*Colores*/
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif; }

a {
  color: #7a7a7a;
  text-decoration: none; }

.bg-light {
  background-color: transparent !important; }

.btn-secondary {
  color: #BFBFBF;
  background-color: transparent; }

.navbar-brand {
  margin: 0; }

#navbarSuperior {
  justify-content: flex-end;
  padding: 0;
  margin: 0; }
  #navbarSuperior .nav-link {
    display: block;
    padding: 0rem 1rem; }
  #navbarSuperior .fa-phone {
    color: #f3504b;
    padding: 10px; }
  #navbarSuperior .fa-search {
    background-color: #f4f6f7;
    padding: 10px; }
  #navbarSuperior .cerrar {
    background-color: #f3504b;
    color: #fff;
    padding: 12px 10px; }

nav .logo-bci {
  width: 50%;
  padding: 0;
  margin: 0; }
nav .img-user {
  width: 20%;
  float: right;
  padding: 0; }
nav .datos-user {
  font-size: 12px;
  color: #4698d8;
  padding: 0; }
nav .datos-user-mini {
  padding: 0 16px;
  color: #4698d8; }
nav .datos-name {
  margin: 0;
  font-size: 16px; }

#navbarInferior {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  z-index: 9999; }

.nav-pills .nav-link:hover {
  color: #2aa82c;
  border-bottom: 3px solid #2aa82c; }

.nav-vertical li {
  list-style: none; }
.nav-vertical li :hover {
  color: #4698d8; }
.nav-vertical .vertical {
  border-bottom: 1px solid #f4f6f7; }
.nav-vertical .mi-cuenta {
  padding-left: 16px;
  text-decoration: none; }
.nav-vertical #primero {
  padding-right: 16px; }
.nav-vertical .fa-chevron-right {
  color: #4698d8; }

.derecha {
  background-color: #f4f6f7;
  width: 100%; }
  .derecha h4 {
    padding: 2% 0;
    color: #4698d8; }
  .derecha .titulo-mobile {
    font-size: 20px;
    background-color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #BFBFBF; }
  .derecha .d-block {
    padding: 5% 20%;
    margin: 0; }
  .derecha .fa-angle-left {
    color: #2aa82c; }
  .derecha .first {
    background-color: #fff;
    padding: 2%; }
    .derecha .first p {
      font-size: 14px;
      color: #333; }
    .derecha .first h5 {
      color: #92d397; }
    .derecha .first .rut {
      font-size: 12px; }
    .derecha .first .fecha {
      color: #BFBFBF;
      padding-bottom: 0; }
    .derecha .first .cuenta {
      text-align: center;
      padding-top: 5%;
      border-left: 1px solid #BFBFBF;
      border-right: 1px solid #BFBFBF; }
      .derecha .first .cuenta .saldo {
        font-size: 40px;
        color: #2aa82c; }
      .derecha .first .cuenta .dato {
        margin: 0; }
      .derecha .first .cuenta .numero-verde {
        color: #2aa82c; }
      .derecha .first .cuenta .cuenta-text {
        margin: 1%; }
    .derecha .first .detalle {
      font-size: 12px; }
      .derecha .first .detalle .precios {
        color: #2aa82c; }
  .derecha .accciones-cuenta {
    background-color: #fff;
    margin-top: 2%;
    padding: 2%;
    color: #007ace; }
    .derecha .accciones-cuenta .personalizar {
      color: #f3504b; }
    .derecha .accciones-cuenta a {
      color: #007ace; }
  .derecha .movimientos {
    background-color: #fff;
    margin-top: 2%;
    margin-left: -1.5%;
    margin-right: -1.5%;
    padding: 2%; }
    .derecha .movimientos .fa-undo {
      color: #4698d8; }
    .derecha .movimientos h5 {
      color: #4698d8; }
    .derecha .movimientos .linea {
      padding: 2%;
      border-bottom: 1px solid #BFBFBF; }
    .derecha .movimientos .parrafo {
      padding: 2%; }
      .derecha .movimientos .parrafo a {
        color: #4698d8;
        text-decoration: none; }
    .derecha .movimientos .barra {
      background-color: #007ace;
      color: #fff;
      padding: 1%; }
    .derecha .movimientos .barra-cuenta1 {
      padding: 2%; }
    .derecha .movimientos .barra-cuenta2 {
      background-color: #f5f5f5;
      padding: 2%; }
    .derecha .movimientos .monto-rojo {
      color: #f3504b; }
    .derecha .movimientos .monto-verde {
      color: #92d397; }

.fondo-trans {
  background-color: #fff;
  padding: 2%; }
  .fondo-trans .text-trans {
    color: #4698d8; }
  .fondo-trans .origen-linea {
    padding-top: 2%; }
  .fondo-trans .saldo {
    background-color: #ececec;
    padding: 4%;
    margin: 0; }
    .fondo-trans .saldo .saldo-color {
      color: #2aa82c;
      font-size: 24px; }
  .fondo-trans .destinatario-linea {
    padding-top: 2%; }
    .fondo-trans .destinatario-linea .agregar {
      color: #4698d8; }
  .fondo-trans .monto-linea {
    padding-top: 3%; }
    .fondo-trans .monto-linea .form-check {
      padding-left: 23%; }
    .fondo-trans .monto-linea .espacio-texto {
      padding-left: 18%; }
    .fondo-trans .monto-linea .contador {
      font-size: 12px; }
  .fondo-trans .btns-linea {
    margin-bottom: 2%; }
    .fondo-trans .btns-linea .btn-trans1 {
      background-color: #2aa82c;
      color: #fff;
      padding: 2%;
      text-decoration: none;
      padding: 10% 40%; }
    .fondo-trans .btns-linea .btn-trans {
      color: #2aa82c;
      padding: 2%;
      text-decoration: none;
      padding: 10% 40%; }

.barra-mobile .btn-activo {
  color: #4698d8;
  border-top: 1px solid #4698d8;
  padding: 10%;
  text-decoration: none; }
.barra-mobile .banco {
  font-size: 10px; }

/*# sourceMappingURL=style.css.map */
